.{
    margin: 0;
    padding: 0;
}
body{
    justify-content: center;
    align-self: center;
    margin: 10%;
    margin-left: 35%;
}

div{
    display: inline-block;
    background-color: black;
    line-height: 1px;
    height: auto;
}

button {
    width: 50px;
    height: 50px;
    margin: 1px;
    color: black;
}