* {
    margin: 0;
    padding: 0;
}
body{
    justify-content: center;
    align-self: center;
    width: 70vh;
    height: 70vh;
    text-align: center;
    /* margin: 20%; */
    /* margin-left: 35%; */
}

div{
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    /* line-height: 1px; */
    width: 90%;
    height: 90%;

}

button {
    width: 32%;
    height: 33%;
    margin: 1px;
    color: black;
}